.container{
    margin:10px 0 10px 0;
    font-family: 'PT Sans', sans-serif;
    width:60%;
    border-radius: 30px;
    position: relative;
    left:20%;
    color:white;
    background-color: rgb(31 41 55);
}