.contact{
    &--container{
        margin-top: 15%;
        position: relative;
        width:70%;
        left:15%;
 }
 @media(max-width:900px){
    &--container{
        margin-top:10px;
        width:90%;
        left:5%;
    } 
}

    &--heading{
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 50px; 
        padding-top:15px;
        margin:10px 0 0 15px; 
    }

    &--description{
        text-align: center;
        font-weight: 400;
        font-size: 20px; 
    padding-top:15px;
    margin:10px 0 20px 15px; 
}
    &--phone, &--mail, &--location {
        justify-content: center;
        text-align: center;
        justify-content: center;
        font-weight: 400;
        font-size: 20px; 
        color: darkgray;
        margin:5px 0 0 15px; 
    }

    &--phone-value, &--mail-value, &--location-value {
        color: #00FF66;
    }
    
}