.profile-container{
    margin-top:200px;
    display: flex;
    align-content: center;

}

.photo{
    margin:0px 10px 0px 10px;
    border-radius: 30px;
    width:250px;
    height: 300px;
    
}
.profile{

// &--left{
//     margin:10px 0px 10px 0;
//     display: flex;
//     justify-content: center;

//     width:28vh;
// }

&--welcome{
    margin: 5px;
    font-weight: 400;
    font-size: 40px;
    color: #00FF66;
}
&--right{
    margin:10px 10px 10px 5px;
    justify-content: center;
    width:72vh;
}

&--name{
    margin: 5px;
    font-weight: 700;
    font-size: 60px;
    
}

&--description{

    font-weight: 400;
    font-size: 24px;  
    color: lightgray;
    margin: 5px;
    word-spacing: 0.5px;
    text-align: justify;
    color: #b4b2b2af;
}
}