
.projects{
 &--container{
    margin-top: 15%;
 }
 @media(max-width:900px){
    &--container{
        margin-top:10px;
        width:90%;
        left:5%;
    }
}
    &--heading{
        text-align: center;
        justify-content: center;
        font-weight: 600;
        font-size: 50px; 
        padding-top:15px;
        margin:0px 0 0 15px; 
    }
    &--description{
        text-align: center;
        justify-content: center;
        font-weight: 400;
        font-size: 20px; 
        padding-top:15px;
        margin:10px 0 20px 15px; 
    }
    &--knowledge{
        margin:15px;
        padding-bottom: 8px;
        }

        &--link{
            text-decoration:none;
            color:white;
        }
    }