.skills{


&--heading{
    font-weight: 600;
    font-size: 20px; 
    padding-top:15px;
    margin:10px 0 0 15px; 
}

&--knowledge{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    border-top: 1px solid darkgray;
    padding-top: 10px;
    margin:15px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 16px;  
    }

    &--knowledge-element{
        padding:5px;
        display: flex;
        margin:5px;
        justify-content: center;
        width:100px;
        border-radius: 30px;
        background-color: rgb(21, 33, 59);
    }
}