.skills-container{
    margin-top: 15%;
}
@media(max-width:900px){
    .skills-container{
        margin-top:10px;
        width:90%;
        left:5%;
    } 
}
.skills{
  

&--heading{
    text-align: center;
    justify-content: center;
    font-weight: 600;
    font-size: 50px; 
    padding-top:15px;
    margin:10px 0 0 15px; 
}
&--description{
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 20px; 
    padding-top:15px;
    margin:10px 0 0 15px; 
}
&--knowledge{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 10px;
    margin:15px;
    font-weight: 400;
    font-size: 18px;  
    }

    &--knowledge-element{
        padding:5px;
        display: flex;
        margin:5px;
        justify-content: center;
        width:150px;
        border-radius: 30px;
        background-color: rgb(21, 33, 59);
        background-color: #00ff66a1;;
    }
}